@font-face {
    font-family: 'Bluescreens';
    src: url('/static/fonts/TT Bluescreens Trial Bold Italic.ttf') format('truetype');
    /* font-weight: bold; */
    
}

@font-face {
    font-family: 'Onest Bol';
    src: url('/static/fonts/OnestBold1602-hint.ttf') format('truetype');

    
}

@font-face {
    font-family: 'Onest Med';
    src: url('/static/fonts/OnestLight1602-hint') format('truetype');
    font-weight: medium;
    
}

:root {
    --font-primary: 'Bluescreens';
    --font-onest-bold: 'Onest Bol';
    --font-onest-med:: 'Onest Med';

    /* Цвета текста */
    --text-dark: #070707;
    --text-light: #F9F9F9;
    --text-m-light: #b5b5b5;
    
    /* Цвета ячеек */
    --cell-gradient-b-bg: linear-gradient(to bottom, #202020, #070707);
    --cell-line-bg: #91bf1f;
    --cell-gradient-l-bg: linear-gradient(to bottom, #b6d569, #91bf1f);

    --b-radius: 6px;
}

body {
    zoom: 100%;
    background: transparent;  
    font-family: var(--font-onest-bold);
    width: 3840px;
    height: 2160px;
    overflow: hidden;
    position: relative;
    margin: 10;
    padding: 0;
}

.elimination-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.tournament-header {
    text-align: left;
    margin-bottom: 35px;
    font-family: var(--font-primary);
    font-size: 64px;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--cell-gradient-l-bg);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.round-column {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
	width: 100%;
	gap: 0px;
}

.bracket-grid {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
    gap: 10px; /* Расстояние между контейнерами */
    width: 540px;
    max-width: 100%;
}

.round-column-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
	grid-row: span 5;

}

.round-column-2:nth-child(1) div:nth-child(odd) { 
    grid-row: span 2; 

}

.places {
	text-transform: uppercase;
	font-size: 25px;
	color: #FFFFFF;
	text-align: center;
}

.round-column-win {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
	
}

.round-header {
    font-size: 35px;
    color: #2c3e50;
    text-align: center;
    position: relative;
    
    margin-bottom: 20px;
}

.round-matches{
    margin-bottom: 30px;
}
/* Базовые стили контейнера и шрифтов */
.container {
    display: flex;
    flex-direction: column;
    width: auto; /* Ширина из Figma для Rectangle 158/159 */
    font-family: 'Onest', sans-serif;
    margin-bottom: 20px; /* расстояние снизу каждого контейнера */
	margin-left: 20px;
}

.row {
    display: flex;
    align-items: center; /* Выравнивает все элементы по центру вертикали */
    height: 42px; /* Высота строки из Figma */
    /* Удаляем padding из .row, чтобы границы .names и .rank совпадали с краями .container */
}

/* Стили для верхнего и нижнего фонов */
.row-top {
    background: linear-gradient(180deg, #202020 0%, #080808 100%);
    border-radius: var(--b-radius) var(--b-radius) 0px 0px;
}

.row-bottom {
    background: linear-gradient(180deg, #202020 0%, #080808 100%);
    border-radius: 0px 0px var(--b-radius) var(--b-radius);
}
/* Блоки общий счет (Rectangle 160/161) */
.rank {
    width: 44px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем число внутри зеленого блока */
    background: linear-gradient(180deg, #AED35B 0%, #88BD00 100%);
}

.rank-top {
    border-radius: var(--b-radius) var(--b-radius) 0px 0px;
}

.rank-bottom {
    border-radius: 0px 0px var(--b-radius) var(--b-radius);
}

.rank-number {
    font-weight: 700;
    font-size: 32px;
    color: #040404;
}

/* Блоки с именами */
.names {
    /* Автоматически займет оставшееся пространство */
    flex-grow: 1; 
    display: flex;
    align-items: center;
    padding-left: 10px; /* Добавляем отступ слева для текста */
	overflow: hidden;
}

.name-main {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #FFFFFF;
    text-transform: uppercase;
	
}

.lost {
    /*  color: #969696; */
	color: var(--text-light)
}

/* Блоки со счетом сетов*/
.set-score {
    width: 60px; 
    text-align: right;     /* Размещаем счет справа от имени, но слева от рейтинга */
    padding-right: 10px;
}

.score {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #969696;
}

/* Автообновление страницы каждые 30 секунд */
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -1;
    animation: autoRefresh 30s infinite;
}