@font-face {
    font-family: 'Onest Bol';
    src: url('/static/fonts/OnestBold1602-hint.ttf') format('truetype');
}

@font-face {
    font-family: 'Onest Med';
    src: url('/static/fonts/OnestLight1602-hint') format('truetype');
    font-weight: medium;
}


body {
    margin: 0;
    padding: 0px;
    background-color: #AED557 ;
    font-family: 'Onest';
    zoom: 40%;
    background: transparent;
	overflow: hidden; 
}


/* Исходные стили из Figma (огромные размеры сохранены) */

.bg_table, .table-wrapper {
    width: 3448px;
    /* height: 807px; */
    position: relative;
	padding: 0;

}

/* --- Хедер Таблицы --- */

.bg_head_tab {
    position: relative;
    width: 3448px;
    height: 159px;
    background: linear-gradient(180deg, #AED557 0%, #84C100 100%);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end; /* Выравнивает колонки справа */
    align-items: center;
    padding-right: 0px; /* Небольшой отступ для примера */
    box-sizing: border-box;
}

.text_set, .text_set_itog {
    /* Общие стили текста заголовка */
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 102px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #080609;
    height: 100%;
    justify-content: center; /* Центрируем текст внутри блока */
}

/* Ширина колонок для сетов и итога (адаптировано под макет) */
.text_set { width: 425px; } 
.text_set:first-child { width: 477px; } /* Первый заголовок чуть шире */
.text_set_itog { width: 425px; }


/* --- Строки Команд --- */

.bg_team1, .bg_team2 {
    position: relative;
    width: 3448px;
    height: 316px;
    background: linear-gradient(180deg, #202020 0%, #070707 100%);
    display: flex;
    justify-content: space-between; /* Растягивает название команды и счетчики по ширине */
    box-sizing: border-box;

}

.bg_team1 {
    border-radius: 10px 10px 0px 0px;
    margin-top: 0px; /* Чтобы наложиться на нижний край хедера */
    padding-top: 0px;
}

.command_name1, .command_name2 {
    width: 1436px;
    display: flex;
    flex-direction: column;
    justify-content: center;
	text-transform: uppercase;
}

.player_name1, .player_name2 {
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 82px;
    line-height: 102px;
    letter-spacing: -0.04em;
    color: #FFFFFF;
	padding-left: 120px;
	letter-spacing: 1px;
}

/* Контейнеры счетов */
.set_play1, .set_play2 {
    width: 1700px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text_set_score, .text_set_itog_score {
    width: 425px;
    font-family: 'Onest', sans-serif;
    font-weight: 700;
    font-size: 200px; /* Огромный размер шрифта для счета */
    line-height: 255px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

/* Разделительная линия */
.bg_line {
    width: 3448px;
    height: 13px;
    background: #AED557;
}
