@font-face {
    font-family: 'TT Bluescreens';
    src: url('/static/fonts/TT Bluescreens Trial Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root {
    --font-primary: 'Bluescreens';
    --font-onest-bold: 'Onest Bol';
    --font-onest-med:: 'Onest Med';

    /* Цвета текста */
    --text-dark: #070707;
    --text-light: #F9F9F9;
    --text-m-light: #b5b5b5;

    /* Цвета ячеек */
    --cell-gradient-b-bg: linear-gradient(to bottom, #202020, #070707);
    --cell-line-bg: #91bf1f;
    --cell-gradient-l-bg: linear-gradient(to bottom, #b6d569, #91bf1f);

    --b-radius: 6px;
}

body {
    font-family: 'Onest', sans-serif;
    background: transparent;
    color: var(--text-dark);
    width: 3840px;
    height: 2160px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

table {
    width: 90%;
    border-collapse: collapse;
}

thead tr {
    height: 160px;
    background: var(--cell-gradient-l-bg);
    font-size: 56px;
    color: black;
}

tbody tr {
    height: 320px;
    background: var(--cell-gradient-b-bg);
    color: white;
}

tbody td.player-cell {
    padding-left: 80px;
    text-align: left;
    font-size: 56px;
}

tbody td.score-cell {
    text-align: center;
    font-size: 160px;
}

.player-cell {
    width: 40%;
}

.score-cell {
    width: 15%;
}