@font-face {
    font-family: 'TT Bluescreens';
    src: url('/static/fonts/TT Bluescreens Trial Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

:root {
    --font-primary: 'Bluescreens';
    --font-onest-bold: 'Onest Bol';
    --font-onest-med:: 'Onest Med';

    /* Цвета текста */
    --text-dark: #070707;
    --text-light: #F9F9F9;
    --text-m-light: #b5b5b5;

    /* Цвета ячеек */
    --cell-gradient-b-bg: linear-gradient(to bottom, #202020, #070707);
    --cell-line-bg: #91bf1f;
    --cell-gradient-l-bg: linear-gradient(to bottom, #b6d569, #91bf1f);

    --b-radius: 6px;
}

body {
    font-family: var(--font-primary), sans-serif;
    background: transparent;
    color: var(--text-dark);
    width: 3840px;
    height: 2160px;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;
}