@font-face {
    font-family: 'Bluescreens';
    src: url('/static/fonts/TT Bluescreens Trial Bold Italic.ttf') format('truetype');
    /* font-weight: bold; */
    
}

@font-face {
    font-family: 'Onest Bol';
    src: url('/static/fonts/OnestBold1602-hint.ttf') format('truetype');

    
}

@font-face {
    font-family: 'Onest Med';
    src: url('/static/fonts/OnestLight1602-hint') format('truetype');
    font-weight: medium;
    
}

:root {
    --font-primary: 'Bluescreens';
    --font-onest-bold: 'Onest Bol';
    --font-onest-med:: 'Onest Med';
    /* Размеры */
    --row-height: 30px;
    --col-number-width: 30px;
    --col-name-width: 140px;
    --col-match-width: 160px;
    --col-points-width: 60px;
    --col-place-width: 60px;
    --border-spacing: 4px;
    
    --table-width: 2000px;
    
    /* Цвета текста */
    --text-dark: #070707;
    --text-light: #F9F9F9;
    --text-m-light: #b5b5b5;
    
    /* Цвета ячеек */
    --cell-gradient-b-bg: linear-gradient(to bottom, #202020, #070707);
    --cell-line-bg: #91bf1f;
    --cell-gradient-l-bg: linear-gradient(to bottom, #b6d569, #91bf1f);
}

body {
    zoom: 100%;
    font-family: var(--font-onest-bold);
    background: transparent;
    color: var(--text-dark);
    width: 2000px;
    height: 1100px;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}

.round-robin-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
}

.round-robin-table {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2px;
    width: 1823px;
    height: 407px;
    background: var(--cell-line-bg)
}

.table-title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 1823px;
    height: 64px;
    background-image: var(--cell-gradient-l-bg);
}

.table-header {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: row;
    width: 770px;
    height: 64px;
}

.cell-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 64px;
}

.cell-gpp {
    display: flex;
    align-items: center;
    justify-content: left;
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    text-align: center;
    color: rgb(0, 0, 0);
}

.team-number-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 175px;
    height: 64px;
}

.team-number {
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: row;  
    width: 175px;
    height: 65px;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.36;
    text-align: center;
    color: var(--text-dark);
}

.points-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 175px;
    height: 65px;
}

.points {
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: row;
    width: 175px;
    height: 63px;
    font-size: 32px;
    text-align: center;
    color: var(--text-dark) 
}

/* Строки таблицы */
.team-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    width: 1823px;
    height: 83px;
    background-image: var(--cell-gradient-b-bg);
}

.team-number-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 770px;
    height: 83px;
}

.team-num {
    display: flex;
    align-items: center;  
    justify-content: center;
    flex-direction: row;  
    width: 70px;
    height: 83px;
    font-weight: 400;
    font-size: 32px;
    line-height: 0.36;
    text-align: center;
    color: var(--text-m-light);
}

.team-name-cell {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    width: 700px;
    height: 83px;
    background: rgba(255, 255, 255, 0);
    font-weight: 400;
    font-size: 32px;
    line-height: 1;
    color: var(--text-light);
}

.diagonal-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 175px;
    height: 83px;
    background: var(--cell-gradient-l-bg);
}

.match-cell-bye-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

/* Ячейки номеров команд */
.match-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 83px;
    background: var(--cell-gradient-b-bg);
}

.match-score {
    width: auto;
    height: auto;
    font-weight: 400;
    font-size: 40px;
    line-height: 1;
    color: var(--text-light);
    margin-bottom: 4px; /* отступ снизу */
}

.match-sets {
    width: auto;
    height: auto;
    font-family: var(--font-onest-med);
    font-weight: 400;
    font-size: 21px;
    line-height: 1;
    text-align: center;
    color: var(--text-m-light);	
}

.points-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0px;
    width: 175px;
    height: 83px;
    background: var(--cell-gradient-b-bg);
}

.points-z {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 175px;
    height: 83px;

    font-weight: 400;
    font-size: 40px;
    line-height: 0.36;
    text-align: center;
    color: var(--text-light);
}

.place-cell {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 175px;
    height: 83px;
    background: var(--cell-gradient-b-bg);
}

.place-z {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 175px;
    height: 83px;
    font-weight: 400;
    font-size: 40px;
    line-height: 0.36;
    text-align: center;
    color: var(--text-light);
}