@font-face {
    font-family: 'TT Bluescreens';
    src: url('/static/fonts/TT Bluescreens Trial Bold Italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

* {
    margin: 20;
    padding: 20;
    box-sizing: border-box;
}

body {
    width: 510px;
    height: 150px;
    background: transparent;
    font-family: 'TT Bluescreens', 'Orbitron', monospace;
    font-weight: bold;
    font-style: italic;
    overflow: hidden;
    position: relative;
}

.scoreboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* border: 20px solid #fff; */
    /* background: rgba(0, 0, 0, 0.8); */
    position: relative;
}

.team-row {
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #333;
    position: relative;
}

.team-row:last-child {
    border-bottom: none;
}

.team-name {
    width: 320px;
    color: #fff;
    font-size: 32px;
    padding: 0 30px;
    text-align: left;
    /*text-shadow: 2px 2px 4px rgba(0,0,0,0.8);*/
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    align-items: center;
    line-height: 1;
}

.sets {
    width: 30px;
    padding: 20 20px;

    display: flex;
    color: #fff;
    font-size: 32px;
    text-align: center;
}

.set {
    width: 32px;
    height: 30px;
    margin: 0 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: rgba(255,255,255,0.1);
    border: 1px solid #666;
    border-radius: 3px; */
}

.score {
    width: 60px;
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    /* background: rgba(0,0,0,0.5); */
    border-left: 6px solid #333;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-shadow: 2px 2px 4px rgba(0,0,0,0.8); */
}

.team1 {
    background: linear-gradient(0deg, rgba(55,56,61,1) 0%, rgba(5,8,13,1) 100%);
    border-bottom: 3px solid #93BF20;
}

.team2 {
    background: linear-gradient(0deg, rgba(55,56,61,1) 0%, rgba(5,8,13,1) 100%);
    border-bottom: 3px solid #93BF20;
}

.no-match {
    justify-content: center;
    height: 86px;
}

.no-match .team-name {
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #888;
}

.next-match .team-name {
    color: #aaa;
    font-size: 13px;
}

.next-match .score {
    color: #666;
    font-size: 16px;
}

.info-bar {
    height: 70px;
    background: linear-gradient(0deg, rgba(182,214,105,1) 100%, rgba(146,192,32,1) 100%);
    /* border-radius: 3px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    font-size: 10px;
    color: #ccc;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.8);
}

.tournament-name {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.court-name {
    padding: 0 20px;
    font-size: 20px;
    flex-shrink: 0;
    color: rgba(6, 5, 10, 1);
    text-shadow: 0px 0px 0px rgba(0,0,0,0.8);
    /* margin-left: 20px; */
}
