@font-face {
    font-family: 'Onest Bol';
    src: url('/static/fonts/OnestBold1602-hint.ttf') format('truetype');
}

@font-face {
    font-family: 'Onest Med';
    src: url('/static/fonts/OnestLight1602-hint') format('truetype');
    font-weight: medium;
}

@font-face {
    font-family: 'Bluescreens';
    src: url('/static/fonts/TT Bluescreens Trial Bold Italic.ttf') format('truetype');
}

body {
    margin: 0;
    padding: 0;
    width: 3840px;
    height: 2160px;
    overflow: hidden;
    /*background: rgba(55, 55, 255, 0.18);*/
	background: transparent;
    font-family: 'Onest', sans-serif;
}

.winner {
    position: relative;
    width: 3840px;
    height: 2160px;
}

.winner_container {
    position: relative;
    width: 3840px;
    height: 2160px;
}

.class_name {
    position: absolute;
    left: 190px;
    top: 170px;
    font-family: 'Bluescreens';
    font-style: italic;
    font-weight: 700;
    font-size: 140px;
    line-height: 150px;
    letter-spacing: -0.00em;
    background: linear-gradient(180deg, #A4D33E 0%, #82C100 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
	display: inline-block;
}

/* ПОБЕДИТЕЛЬ */

.txt_winner {
	position: absolute;
	font-family: 'Bluescreens';
		left: 170px;
		top: 230px;
	font-style: italic;
	font-weight: 700;
	font-size: 400px;
	line-height: 565px;
	letter-spacing: -0.01em;
    color: #FAFAFA;
}


.winner_container > span:first-of-type {
    position: absolute;
    left: 190px;
    top: 170px;
    font-family: 'Bluescreens';
    font-style: italic;
    font-weight: 700;
    font-size: 500px;
    line-height: 565px;
    letter-spacing: -0.01em;
    color: #FAFAFA;
}

.winners_table {
    position: absolute;
    left: 188px;
    top: 977px;
    display: flex;
    flex-direction: column;
    gap: 67px;
}

.winners_table > div {
    display: flex;
    flex-direction: row;
    gap: 67px;
    align-items: flex-start;
}

.flag-icon {
    width: 140px;
    height: 98px;
    flex-shrink: 0;
    margin-top: 26px;
}

.win_name {
    font-family: 'Onest Bol';
    font-weight: 700;
    font-size: 120px;
    line-height: 153px;
    letter-spacing: -0.04em;
    color: #FAFAFA;
    text-transform: uppercase;
    margin: 0;
}

.country_name {
    font-family: 'Onest Bol';
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.00em;
    color: #FAFAFA;
    text-transform: uppercase;
    margin: 0;
}

.player-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.image_container {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    left: 1804px;
    top: 0;
    width: 2036px;
    height: 2160px;
}

.image_container img {
    width: 1500px;
    height: 2000px;
    object-fit: cover;
    flex-shrink: 0;
}

.image_container img:first-child {
    margin-right: -955px;
    z-index: 1;
}

.image_container img:last-child {
    transform: scaleX(1);
    z-index: 2;
}

.info_block {
    position: absolute;
    left: 150px;
    top: 1680px;
    width: 3350px;
    height: 270px;
    padding: 28px 0 28px 150px;
    background: #8DC900;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info_block::before {
    content: '';
    position: absolute;
    width: 3500px;
    height: 306px;
    left: 0;
    top: 8px;
    background: linear-gradient(180deg, #202020 0%, #070707 100%);
    border-radius: 4px;
    z-index: 0;
}

.info_block > * {
    position: relative;
    z-index: 1;
}

.info_block > span:first-child {
    font-family: 'Onest Bol';
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: 0.05em;
    color: #8DC900;
}

.info_block .loser {
    font-family: 'Onest Bol', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: 102px;
    color: #FAFAFA;
    text-transform: uppercase;
}

.info_block .score {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.set_score {
    font-family: 'Onest Bol';
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    letter-spacing: -0.04em;
    color: #FAFAFA;
}

.hidden {
    display: none !important;
}