<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1920, height=1080">
    <title>Bracket Background - {{ tournament_name }}</title>
    <link rel="stylesheet" href="/static/css/composite_bg.css">
</head>
<body>
    <div class="composite-bg bracket">
        <!-- Фоновое изображение -->
        <div class="background-image"></div>
        
        <!-- Header с названием и логотипами -->
        <div class="header">
            <div class="tournament-name {{ name_class }}">{{ tournament_name }}</div>
            <div class="logos">
                <div class="logo logo4" style="background-image: url('/static/images/logo4.png');"></div>
                <div class="logo logo3" style="background-image: url('/static/images/logo3.png');"></div>
                <div class="logo logo2" style="background-image: url('/static/images/logo2.png');"></div>
                <div class="logo logo1" style="background-image: url('/static/images/logo1.png');"></div>
            </div>
        </div>
        
        <!-- Декоративная линия -->
        <div class="header-line"></div>
    </div>
</body>
</html>
